# Predicting Financial Inclusion in Africa Using Machine Learning  

![Dataset Overview](https://i.imgur.com/UNUZ4zR.jpg)  

This project leverages a dataset of **~33,600 individuals** across East Africa to predict financial inclusion—whether a person uses or owns a bank account. Using demographic and socio-economic features, we build a classification model to support financial access initiatives.  

## Context  
Financial inclusion ensures access to essential services like banking, credit, and insurance in a sustainable way. This project aims to identify key factors influencing financial access in Africa.  

## Dataset Overview  
The dataset, sourced from Zindi’s *"Financial Inclusion in Africa"* challenge, includes:  
- **Demographics** (age, gender, location)  
- **Socio-economic factors** (education, employment, household size)  
- **Financial access indicators** (cellphone ownership, banking status)  

## Key Variables  
| Variable | Description |  
|----------|-------------|  
| `location_type` | Urban or Rural |  
| `cellphone_access` | Yes/No |  
| `education_level` | No formal education → Tertiary |  
| `job_type` | Employment sector (e.g., farming, formal employment) |  

## Objective  
Develop a **machine learning classifier** to predict bank account ownership, helping policymakers and organizations improve financial access.

In [2]:
# import libraries
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from ydata_profiling import ProfileReport
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
# import datasets
df = pd.read_csv('Financial_inclusion_dataset.csv')

# check the first 5 rows of the dataset
df.head()

,country,year,uniqueid,bank_account,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
0,Kenya,2018,uniqueid_1,Yes,Rural,Yes,3,24,Female,Spouse,Married/Living together,Secondary education,Self employed
1,Kenya,2018,uniqueid_2,No,Rural,No,5,70,Female,Head of Household,Widowed,No formal education,Government Dependent
2,Kenya,2018,uniqueid_3,Yes,Urban,Yes,5,26,Male,Other relative,Single/Never Married,Vocational/Specialised training,Self employed
3,Kenya,2018,uniqueid_4,No,Rural,Yes,5,34,Female,Head of Household,Married/Living together,Primary education,Formally employed Private
4,Kenya,2018,uniqueid_5,No,Urban,No,8,26,Male,Child,Single/Never Married,Primary education,Informally employed

In [4]:
# display the info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23524 entries, 0 to 23523
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 23524 non-null  object
 1   year                    23524 non-null  int64
 2   uniqueid                23524 non-null  object
 3   bank_account            23524 non-null  object
 4   location_type           23524 non-null  object
 5   cellphone_access        23524 non-null  object
 6   household_size          23524 non-null  int64
 7   age_of_respondent       23524 non-null  int64
 8   gender_of_respondent    23524 non-null  object
 9   relationship_with_head  23524 non-null  object
 10  marital_status          23524 non-null  object
 11  education_level         23524 non-null  object
 12  job_type                23524 non-null  object
dtypes: int64(3), object(10)
memory usage: 2.3+ MB